<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="'Задание ' + ${task.number}"></title>
</head>
<body>
<p th:text="${task.question}"></p>
<br>
<p th:text="${task.code}"></p>
<br>
<table>
  <tr th:each="option : ${task.answerOptions}">
    <td th:if="${option.getIsCorrect() && task.getAnswerOptions().size() != 1}" th:text="'+'">
    <td th:unless="${option.isCorrect}" th:text="''">
    <td th:text="${option.text}">
    </td>
  </tr>
</table>
<br>

<table>
  <tr th:each="subject : ${task.subjects}">
    <td th:text="'Модуль ' + ${subject.module.getValue()}">
    <td th:text="${subject.nameRussian}">
    </td>
  </tr>
</table>

<br>
<p th:text="'Статус: ' + ${task.stage}"></p>
<div sec:authorize="hasAuthority('ADMIN')">
  <h4 th:if="${task.stage == T(ru.hse_se_podbel.data.models.enums.Stage).NOT_APPROBATED}">
    <form th:action="@{/tasks/aprobate/{number}(number=${task.number})}" th:method="PATCH">
      <input type="submit" value="Аппробировать"/>
    </form>
  </h4>
  <h4 th:if="${task.stage == T(ru.hse_se_podbel.data.models.enums.Stage).NOT_APPROBATED}">
    <form th:action="@{/tasks/reject/{number}(number=${task.number})}" th:method="PATCH">
      <input type="submit" value="Отклонить"/>
    </form>
  </h4>
  <h4 th:if="${task.stage == T(ru.hse_se_podbel.data.models.enums.Stage).IN_USE}">
    <form th:action="@{/tasks/withdraw/{number}(number=${task.number})}" th:method="PATCH">
      <input type="submit" value="Изъять"/>
    </form>
  </h4>



</div>




</body>