<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Смена пароля</title>
</head>
<body>
<h1>Смена пароля</h1>
<div th:text="${error}">
</div>
<form th:action="@{/change_password}" th:object="${changePasswordForm}" th:method="POST">


  <label for="oldPassword">Старый пароль:</label>
  <input type="password" id="oldPassword" name="oldPassword" th:field="*{oldPassword}" required><br><br>
  <label for="newPassword">Новый пароль:</label>
  <input type="password" id="newPassword" name="newPassword" th:field="*{newPassword}" required><br><br>
  <label for="newPasswordConfirmation">Подтверждение нового пароля:</label>
  <input type="password" id="newPasswordConfirmation" name="newPasswordConfirmation" th:field="*{newPasswordConfirmation}" required><br><br>
  <input type="submit" value="Сменить пароль">
</form>
</body>
</html>