<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<table>
  <tr>
    <td>Имя пользователя</td>
    <td>Администратор</td>
    <td>Активация</td>

  </tr>

  <tr th:each="user : ${users}">
    <td th:text="${user.username}">
    <td th:text="${user.role}">
    <td th:text="${user.activationStatus}">
    <td>
    <form th:if="${user.isCurrentUser() == false}" th:method="DELETE" th:action="@{users/delete/{username}(username=${user.username})}">
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      <input type="submit" value="Удалить пользователя"/>
    </form>

    </td>
  </tr>

  <br>

</table>
<a th:href="@{users/new}">Добавить пользователя</a>
</body>
</html>